<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Home</title>
	<link rel="stylesheet" type="text/css" href="./css/styles.css">
</head>
<body>
	<%- include('partials/navbar') %>
	<div id="app"></div>
	<script type="module" src="./javascripts/main.js"></script>
	<!-- <script src="/assets/todo-list.js"></script> -->
	
<div id="snackbar"></div>
</body>
</html>